* {
    margin: 0;
    padding: 0;
}
header {
    background-image: url(./Assests/Images/fondo\ header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#nvhd a {
    color: black;
    font-size: large;
    font-weight: bolder;
    text-decoration: none;
}

.jmtrn {
    display: flex;
    background-image: url(./Assests/Images/jumbotron.jpg);
    color: black;
    font-size: xx-large;
    font-weight: bolder;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}

#pjmb {
    background-color: rgb(0, 174, 255);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-content: center;
    align-items: center;
    align-self: center;
}

main section {
    display: flex;
    border: 5px solid;
    border-color: brown;
    border-radius: 20%;
    padding: 3px;
    margin: 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: rgb(0, 68, 255);
    font-size: x-large;
    font-weight: bold;
    width: 50%;
}

main img {
    border: 0;
    border-radius: 25%;
    width: 150px;
    height: 150px;
}

#br {
    width: 100%;
    background: #90ac14ce;
    border: none;
    padding: 12px;
    color: rgb(5, 5, 5);
    margin: 16px 0;
    font-size: 16px;
}

.adcnls {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 15px;
}

.adcnls div {
    border: 5px solid rgba(248, 121, 121, 0.534);
    margin: 10px;
    padding: 0px;
    border-radius: 8px;
    font-size: large;
    width: 100%;
    height: max-content;
    overflow: auto;
}

p h1 {
    font-size: xx-large;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(62, 121, 231);
    justify-items: center;
    text-align: center;
    justify-content: flex-start;
    height: 200px;
}

.f1 h1 {
    color: rgb(228, 92, 92);
    font-size: xx-large;
    font-weight: bold;
    margin: 5px;
    padding: 3px;
}

.f1 p {
    color: rgb(228, 92, 92);
    font-size: x-large;
    font-weight: bolder;
    margin: 5px;
    padding: 3px;
}

.f2 h1 {
    color: rgb(228, 92, 92);
    font-size: xx-large;
    font-weight: bolder;
    margin: 5px;
    padding: 3px;
}

.f2 li {
    color: rgb(228, 92, 92);
    font-size: xx-large;
    font-weight: bolder;
    margin: 5px;
    padding: 3px;
}

@media (max-width: 800px) and (min-width: 600px) {
     main {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    main img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 600px) and ( min-width: 300px) {
    main {
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: repeat(6, 1fr);
   }

   main img {
       width: 85px;
       height: 85px;
   }
}

@media (max-width: 300px) and ( min-width: 150px) {
    main {
       display: grid;
       grid-template-columns: 1fr 1fr ;
       grid-template-rows: repeat(6, 1fr);
   }
   
   main img {
       width: 65px;
       height: 65px;
   }

   #br {
    width: auto;
    background: auto;
    border: auto;
    padding: 5px;
    color: rgb(5, 5, 5);
    margin: 5px;
    font-size: auto;
   }

}


@media (max-width: 1000px) and (min-width: 750px) {

    .f1 h1 {
        color: rgb(228, 92, 92);
        font-size: x-large;
        font-weight: bold;
        margin: 5px;
        padding: 3px;
    }
    
    .f1 p {
        color: rgb(228, 92, 92);
        font-size: large;
        font-weight: bolder;
        margin: 5px;
        padding: 3px;
    }
    
    .f2 h1 {
        color: rgb(228, 92, 92);
        font-size: x-large;
        font-weight: bolder;
        margin: 5px;
        padding: 3px;
    }
    
    .f2 li {
        color: rgb(228, 92, 92);
        font-size: x-large;
        font-weight: bolder;
        margin: 5px;
        padding: 3px;
    }

}

@media (max-width: 750px) and (min-width: 600px) {
    
    .f1 h1 {
        color: rgb(228, 92, 92);
        font-size: large;
        font-weight: bold;
        margin: 5px;
        padding: 3px;
    }
    
    .f1 p {
        color: rgb(228, 92, 92);
        font-size: large;
        font-weight: bolder;
        margin: 5px;
        padding: 3px;
    }
    
    .f2 h1 {
        color: rgb(228, 92, 92);
        font-size: large;
        font-weight: bolder;
        margin: 5px;
        padding: 3px;
    }
    
    .f2 li {
        color: rgb(228, 92, 92);
        font-size: large;
        font-weight: bolder;
        margin: 5px;
        padding: 3px;
    }

}

@media (max-width: 600px) and (min-width: 450px) {

    footer {
        width: 100%;
        height: 400px;
    }

    footer div {
        margin: 5px;
        padding: 5px;
}
    
    .f1 h1 {
        color: rgb(228, 92, 92);
        font-size: medium;
        font-weight: normal;
        margin: 5px;
        padding: 3px;
    }
    
    .f1 p {
        color: rgb(228, 92, 92);
        font-size: medium;
        font-weight: normal;
        margin: 5px;
        padding: 3px;
    }
    
    .f2 h1 {
        color: rgb(228, 92, 92);
        font-size: medium;
        font-weight: normal;
        margin: 5px;
        padding: 3px;
    }
    
    .f2 li {
        color: rgb(228, 92, 92);
        font-size: medium;
        font-weight: normal;
        margin: 5px;
        padding: 3px;
    }

}

@media (max-width: 450px) {

    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 400px;
    }

    footer div {
        margin: 5px;
        padding: 5px;
}
    
    .f1 h1 {
        color: rgb(228, 92, 92);
        font-size: medium;
        font-weight: normal;
        margin: 5px;
        padding: 3px;
    }
    
    .f1 p {
        color: rgb(228, 92, 92);
        font-size: medium;
        font-weight: normal;
        margin: 5px;
        padding: 3px;
    }
    
    .f2 h1 {
        color: rgb(228, 92, 92);
        font-size: medium;
        font-weight: normal;
        margin: 5px;
        padding: 3px;
    }
    
    .f2 li {
        color: rgb(228, 92, 92);
        font-size: medium;
        font-weight: normal;
        margin: 5px;
        padding: 3px;
    }

}